<h1>Hola mundo</h1>

<!--
<div *ngIf="globalError" class="alert alert-danger alert-dismissible" role="alert">
  <button (click)="closeGlobalError()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <strong>Error {{globalError.status}} - {{globalError.error}}:</strong> {{globalError.message}}
</div>
-->

<!--
<div class="row">
  <div class="col-sm-6"><todo-list></todo-list></div>
  <div class="col-sm-6"><router-outlet></router-outlet></div>
</div>
-->